<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <!-- Company: Yashinii (AutoCount 2.2) -->
        <add key="DBSetting.ServerName" value="192.168.1.115,1433"/>
        <add key="DBSetting.DBName" value="AED_ATPPLUGIN"/>
        <add key="DBSetting.User" value="sa"/>
        <add key="DBSetting.Password" value="rs6663"/>
        <add key="AutocountLogin.UserID" value="ADMIN"/>
        <add key="AutocountLogin.Password" value="ADMIN"/>
    </appSettings>
</configuration>
